nav ul a:hover {
     background-color: rgba(0,0,0,0); 
}

#search{
       margin: 0 0 0px 0; 
}

body{
  background-color: #fbfbfb 
}

.searchBarRow{
      margin: 0 0 0px 0 !important;
}


/*.togglable {
  color: #D78770;
  cursor: pointer;
}*/

/*.togglable-down::after,
.togglable-up::after {
  font-size: 8px;
  margin-left: 0.5em;
}

.togglable-down::after {
  content: "▼";
  display: none
}

.togglable-up::after {
  content: "▶";
  display: inline-block;
}*/
/*.commentColoring {
    border-style: solid;
    border-width: 1px;
}

.commentColoring:nth-child(odd) {
    background: white;
}*/

.boxContent{
  margin-top: .5em;
  margin-left: 1em;
}

.boxTitle{
  margin-left: 1em;
}

.btn:hover{
 background-color: #424242;
  color: #fafafa
}

nav{
  background-color: #212121
}

.nxt-pg-btn:hover{
  background-color: #424242;
  color: #fafafa 
}

.nxt-pg-btn{
  background-color: transparent;
  color: #212121;
  box-shadow: none;
}

.cmt-rply-btn{
    background-color: transparent;
  color: #212121;
  box-shadow: none;
}

.cmt-rply-btn:hover{
  background-color: #424242;
  color: #fafafa 
}

.col-story{
  margin-left: 1em;
}

.user-name-box{
  margin-top: .2em;
  margin-left: .5em;
  font-size: 18px;
}